<div>
  <div class="col-1" id="profile">
    <img src="" />
  </div>
</div>

<div class="container">
  <div class="row" id="location">
    <div class="col-sm">
      Ort:
    </div>
    <div class="col-sm">
      Regensburg (93047)
    </div>
  </div>
  <div class="row" id="contact">
    <div class="col-sm">
      Kontakt:
    </div>
    <div class="col-sm">
      john@doe.com
    </div>
  </div>
  <div class="row" id="rating">
    <div class="col-sm">
      Bewertungen:
    </div>
    <div class="col-sm">
      Sterne
    </div>
  </div>
  <div class="row" id="institution">
    <div class="col-sm">
      Institution:
    </div>
    <div class="col-sm">
      Universitaetsklinikum Regensburg
    </div>
  </div>
  <div class="row" id="verified">
    <div class="col-sm">
      Verifizierter HelferIn:
    </div>
    <div class="col-sm">
      ja (Email)
    </div>
  </div>
  <div class="row" id="help">
    <div class="col-sm">
      Ich brauche Hilfe bei:
    </div>
    <div class="col-sm">
      Erledigung von Lebensmitteleinkaeufen
    </div>
  </div>
</div>

<button>Profil bearbeiten</button>

