<div class="row full-height">
  <div class="col-md-12">
    <nb-card accent="primary" class="full-height">
      <nb-card-header>
        <nb-user
          size="large"
          [name]="user.name"
          [title]="user.type + ' (' + user.job + ')'"
          [picture]="user.img"></nb-user>
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <label class="col-md-2 flex flex-vertical-center" style="margin-bottom: 0rem;">Ort</label>
          <nb-form-field class="col-md-3">
            <nb-icon nbPrefix icon="map-outline"></nb-icon>
            <input nbInput type="text" id="plz" class="input" placeholder="PLZ" status="basic" shape="round" [(ngModel)]="user.plz" [disabled]="!profileEditing" fullWidth>
          </nb-form-field>
          <nb-form-field class="col-md-7">
            <nb-icon nbPrefix icon="pin-outline"></nb-icon>
            <input nbInput type="text" id="location" class="input" placeholder="Ort" status="basic" shape="round" [(ngModel)]="user.location" [disabled]="!profileEditing" fullWidth>
          </nb-form-field>
        </div>
        <p class="col-md-12"></p>
        <div class="row" *ngIf="helfer">
          <label class="col-md-2 flex flex-vertical-center" style="margin-bottom: 0rem;">Institution</label>
          <nb-form-field class="col-md-10">
            <nb-icon nbPrefix icon="flag-outline"></nb-icon>
            <input nbInput type="text" id="institution" class="input" placeholder="Institution" status="basic" shape="round" [(ngModel)]="user.institution" [disabled]="!profileEditing" fullWidth>
          </nb-form-field>
        </div>
        <p class="col-md-12"></p>
        <div class="row">
          <label class="col-md-2 flex flex-vertical-center" style="margin-bottom: 0rem;">Job</label>
          <nb-form-field class="col-md-10">
            <nb-icon nbPrefix icon="briefcase-outline"></nb-icon>
            <input nbInput type="text" id="job" class="input" placeholder="Job" status="basic" shape="round" [(ngModel)]="user.job" [disabled]="!profileEditing" fullWidth>
          </nb-form-field>
        </div>
        <p class="col-md-12"></p>
        <div class="row">
          <label class="col-md-2 flex flex-vertical-center" style="margin-bottom: 0rem;">Kontakt</label>
          <nb-form-field class="col-md-10">
            <nb-icon nbPrefix icon="at-outline"></nb-icon>
            <input nbInput type="text" id="mail" class="input" placeholder="Mail" status="basic" shape="round" [(ngModel)]="user.mail" [disabled]="!profileEditing" fullWidth>
          </nb-form-field>
        </div>
        <p class="col-md-12"></p>
        <div class="row" *ngIf="helfer">
          <label class="col-md-2 flex flex-vertical-center" style="margin-bottom: 0rem;">Verfiziert</label>
          <nb-checkbox class="col-md-10" [checked]="user.verified" disabled></nb-checkbox>
        </div>
        <p class="col-md-12"></p>
        <div class="row">
          <label class="col-md-2 flex flex-vertical-center" style="margin-bottom: 0rem;">Bewertung</label>
          <div class="col-md-10">
            {{user.rating}}
          </div>
        </div>
      </nb-card-body>
        <nb-card-footer class="flex" *ngIf="dataService.loggedInUser">
          <div *ngIf="user.id === dataService.loggedInUser.id">
            <div *ngIf="!profileEditing; else other_content">
              <button nbButton hero status="primary" shape="round" (click)="onEditProfile()"><nb-icon icon="edit-outline"></nb-icon>Profil bearbeiten</button>
            </div>
          </div>
        </nb-card-footer>
    </nb-card>
  </div>

<ng-template #other_content>
  <button nbButton hero status="danger" shape="round" (click)="onCancelEdit()" style="margin-right: 1rem;"><nb-icon icon="close-outline"></nb-icon>Abbrechen</button>
  <button nbButton hero status="success" shape="round" (click)="onSaveProfile()"><nb-icon icon="checkmark-outline"></nb-icon>Speichern</button>
</ng-template>
