<div class="flex flex-vertical-center flex-horizontal-center">
  <div style="width:22rem">
    <img src="{{helper.img}}" class="w-100"/>
    <button nbButton fullWidth class="text-left">
      <nb-icon icon="search"></nb-icon> {{ currentHelpRequest ? currentHelpRequest.description : ' Nichts mehr zu tun...' }}
    </button>
    <button nbButton fullWidth><nb-icon icon="clock">
      </nb-icon> {{ this.currentHelpRequest ? this.currentHelpRequest.timestamp : ' ... '}}
    </button>
  </div>
</div>
<div class="flex flex-horizontal-center container">
  <div class="row">
    <button style="width:11rem" class="col" nbButton fullWidth status="danger" (click)="onRefuse()" [disabled]="!currentHelpRequest">
      <nb-icon icon="close-circle"></nb-icon>Keine Zeit
    </button>
    <button style="width:11rem" class="col" nbButton fullWidth status="success" (click)="onHelp()" [disabled]="!currentHelpRequest">
      <nb-icon icon="star"></nb-icon>Mach ich gerne
    </button>
  </div>
</div>
