<div class="flex flex-vertical-center flex-horizontal-center">
  <div style="max-width:24rem">
    <nb-card class="mb-0">
      <img *ngIf="helper" src="{{ helper.img}}" class="w-100" style="max-height:500px"/>
      <div  *ngIf="!helper" class="flex flex-horizontal-center w-100" style="height:400px">
        <nb-icon class="w-100 d-block" icon="person" [options]="{ width: 400, height: 400}"></nb-icon>
      </div>
    </nb-card>
    <nb-card class="mb-0" *ngIf="helper">
      <div class="row p-2">
        <div class="col-md-1 ml-2">
          <nb-icon icon="person"></nb-icon>
        </div>
        <div class="col">
          <span>{{ helper.name }}</span><!-- TODO FABI LINK-->
        </div>
      </div>
    </nb-card>
    <nb-card class="mb-0">
      <div class="row p-2">
        <div class="col-md-1 ml-2">
          <nb-icon icon="search"></nb-icon>
        </div>
        <div class="col">
          <span>{{ currentHelpRequest ? currentHelpRequest.description : ' Nichts mehr zu tun...' }}</span>
        </div>
      </div>
    </nb-card>
    <nb-card class="mb-0" *ngIf="currentHelpRequest">
      <div class="row p-2">
        <div class="col-md-1 ml-2">
          <nb-icon icon="clock"></nb-icon>
        </div>
        <div class="col">
          {{ this.currentHelpRequest ? this.currentHelpRequest.timestamp : ' ... '}}
        </div>
      </div>
    </nb-card>
  </div>
</div>
<div class="flex flex-horizontal-center container">
  <div class="row">
    <button style="width:12rem;height:100px" class="col" nbButton fullWidth status="danger" (click)="onRefuse()" [disabled]="!currentHelpRequest">
      <nb-icon icon="close-circle"></nb-icon>Keine Zeit
    </button>
    <button style="width:12rem;cursor:pointer" class="col" nbButton fullWidth status="success" (click)="onHelp()" [disabled]="!currentHelpRequest">
      <nb-icon icon="star"></nb-icon>Mach ich gerne
    </button>
  </div>
</div>
