<nb-layout-header fixed>
  <div class="header-container">
    <div class="logo-container">
      <a routerLink="/" class="sidebar-toggle">
        <nb-icon icon="people-outline"></nb-icon>
      </a>
      <a class="logo" link="/home">HelfersHelfer</a>
    </div>
  </div>
  <span style="flex: 1 1"></span>
  <!-- ToDo: if user auth from firebase -->
  <nb-action style="border-left: 0px;">
    <nb-user [nbContextMenu]="userMenu"
      size="large"
      name="John Doe"
      title="Medic">
    </nb-user>
  </nb-action>
</nb-layout-header>
