<nb-layout-header fixed>
  <div class="header-container">
    <div class="logo-container">
      <a routerLink="/" class="sidebar-toggle">
        <div class="row">
          <div class="col">
            <img src="./assets/logo.png" width="100"/>
          </div>
          <div class="col">
            <img src="./assets/helfershelfer.png" width="100"/>
          </div>
        </div>
      </a>
    </div>
  </div>
  <span style="flex: 1 1"></span>
  <nb-action *ngIf="dataService.loggedInUser" style="border-left: 0px;">
    <nb-user
    [nbContextMenu]="dataService.userMenu"
    size="large"
    [name]="dataService.loggedInUser.name"
    [title]="dataService.loggedInUser.type + ' (' + dataService.loggedInUser.job + ')'"
    [picture]="dataService.loggedInUser.img"></nb-user>
  </nb-action>
</nb-layout-header>
