<nb-card>
  <nb-card-header>Hilfsangebote für dein Gesuch "<strong>{{ helpRequest.description }}</strong>"</nb-card-header>
  <nb-card-body>
    <table [nbTreeGrid]="dataSource" [nbSort]="dataSource" equalColumnsWidth>

      <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="defaultColumns"></tr>
      <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: defaultColumns"></tr>

      <ng-container *ngFor="let column of defaultColumns;let i = index" [nbTreeGridColumnDef]="column">
        <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>{{defaultColumnsMapping[i].title}}</th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data[column]}}</td>
      </ng-container>

    </table>

  </nb-card-body>
</nb-card>
